.story {
    display: none;
}

@media screen and (min-width: 20em) and (max-width: 40em) {
    .storyMobile {
        margin: 0 auto;
        display: block;
        
    }
    
}

@media screen and (min-width: 40em) and (max-width: 68em) {
    .storyTablet {
        display: block;
         
    }
}

@media screen and (min-width: 68em){
    .storyDesktop {
        display: block;
        
    }
}


