.columns {
    display: flex;
    flex-direction: column;
}

.columns.is-multiline {
    flex-wrap: wrap;
}

.column {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .columns {
        flex-direction: row;
    }

    .column.is-1 {
        width: 8.33333%;
        flex: none;
    }

    .column.is-2 {
        width: 16.66667%;
        flex: none;
    }

    .column.is-3 {
        width: 25%;
        flex: none;
    }

    .column.is-4 {
        width: 33.33333%;
        flex: none;
    }

    .column.is-5 {
        width: 41.66667%;
        flex: none;
    }

    .column.is-6 {
        width: 50%;
        flex: none;
    }

    .column.is-7 {
        width: 58.33333%;
        flex: none;
    }


    .column.is-8 {
        width: 66.66667%;
        flex: none;
    }

    .column.is-9 {
        width: 75%;
        flex: none;
    }

    .column.is-10 {
        width: 83.33333%;
        flex: none;
    }

    .column.is-11 {
        width: 91.66667%;
        flex: none;
    }

    .column.is-12 {
        width: 100%;
        flex: none;
    }
}