@font-face {
    font-family: "Nexa-Bold";
    src: URL("../fonts/Nexa-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nexa-Bold";
}

body,
html {
    height: 100%;
}

body {
    background-color: #F3E5D8;
}

nav {
    display: flex;
    background-color: white;
    margin-bottom: 0;
}
/*selecteer aleen de header in de body selecteerd direct kind in de body//selecteer alle ul die in de header staan*/
body > header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
}

body > header li a {
    display: block;
    color: #00d66c;
    text-align: center;
    padding: 1em 1.1em;
    text-decoration: none;
    font-family: "Nexa-Bold";
    font-weight: bold;
}

body > header li a:hover:not(.active) {
    color: #2800a0;
}

body > header li a.active {
    color: #2800a0;
}

body > main {
    margin-bottom: auto;
}

article {
    color: black;
    padding: 1.5em;
    opacity: 0.9;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadein 1.5s;
}

@keyframes fadein {
    /* https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

article h1 {
    color: #00d66c;
}

article.hidden {
    display: none;
}


main {
    display: flex;
    justify-content: center;
}

h1, h2, {
    color:black;
}

form {
    margin-top: 2em;
    width: 18.750em;
    padding: 1.563em;
    color:black;
    font-size: 1em;
    text-align: left;
}

form:first-child {
    background-color: white;
    border-top-left-radius: 1em;
    border-bottom-left-radius:1em;
}

form:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius:1em;
    background-color: #f5f8fa;
}

input[type=text], select, input[type=password]{
    width: 100%;
    padding: 0.750em 1.250em;
    margin: 0.500em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #FF3268;
    padding: .5em 2em;
    box-shadow: inset 0 -0.1875rem 0.0625rem #1e9162;
    border: none;
    border-radius: 5em;
    text-decoration: none;
    border-radius: 2em;
    margin: auto;
}

input[type="submit"]:hover {
	background: pink;
}

input:valid { 
    background-color: green;
}

input:focus{
outline: none;

border:1px solid #FF3268;

}    

@media screen and (min-width: 20em){
    form {
        min-width: 10em;
        width: 15em;
        min-height: 12em;
        max-height: 20em;
        border-radius: 0;

    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
@media screen and (min-width: 29em){
    form {
        min-width: 20em;
        min-height: 20em;
        
}
    }
