

@font-face {
    font-family: "Nexa-Bold";
    src: URL("../fonts/Nexa-Bold.otf");
}


* {
    margin: 0;
    padding: 0;
    font-family: "Nexa-Bold";
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F3E5D8
}

main {
    margin: 10px;
}
/*selecteer aleen de header in de body waarvan body het directe parent is*/
/*selekteerd alleen de headers in body*/
body > header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
}
/*Header buttons*/
body > header li a {
    display: block;
    color: #00d66c;
    text-align: center;
    padding: 1em 1.1em;
    text-decoration: none;
    font-family: "Nexa-Bold";
    font-weight: bold;
}

body > header li a:hover:not(.active) {
    color: #2800a0;
}

body > header li a.active {
    color: #2800a0;
}

body > main {
    margin-bottom: auto;
}



@media screen and (min-width: 20em){
    article {
        min-width: 10em;
        width: 15em;
        min-height: 12em;
        max-height: 20em;
        margin: 1em;

    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}




.myPlaylist {
    display: flex;
    flex-direction: column;

}

.otherPlaylist {
    display: flex;
    flex-direction: column;
}

main.playlist {
    justify-content: space-around;
}

.playlistTitle {
    color: #2800A0;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Cabin', sans-serif;
    background-color: white;
    opacity: .9;
    border: 1px solid green;
}

.playlistItem {
    display: flex;
    justify-content: space-between;
}

.playlistItem i {
    color: #EE3569;
}

.playlistItem p {
    align-self: center;
}

.playlist article header {
    display: flex;
    justify-content: space-between;
}

.playlist article header i {
    color: #2800A0;
}

.playlist article header i:hover {
    color: red;
}


article  {
    color: black;
    padding: 1.5em;
    font-family: 'Cabin', sans-serif;
    opacity: .9;
    border: 1px solid green;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;

}

article footer a:first-child {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    color: aliceblue;
    background-color: #2800a0;
    padding: .5em 2em;
    box-shadow: inset 0 -0.1875rem 0.0625rem #120145;
    border: none;
    border-radius: 5em;
    text-decoration: none;
    margin: .5em;
}

article footer a:first-child:hover {
    background-color: #421ABA;
}

article footer i:hover {
    color: #FF4F83;
}

h2 {
    font-size: 1em;
}

