.story {
    display: none;
}

@media screen and (min-width: 20em) and (max-width: 40em) {
    .storyMobile {
        display: block;
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (min-width: 40em) and (max-width: 68em) {
    .storyTablet {
        display: block;
        width: 100%;
        height: 100%;
         
    }
}

@media screen and (min-width: 68em){
    .storyDesktop {
        display: block;
        width: 100%;
        height: 100%;
    }
}


