    @font-face {
    font-family: "Nexa-Bold";
    src: URL("../fonts/Nexa-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nexa-Bold";
}

body,
html {
    height: 100%;
}

body {
   background-color: #F3E5D8;
}

section {
    margin-bottom: 3em;
}

nav {
    
    display: flex;
    background-color: white;
    margin-bottom: 0;
}

h2  {
    display: block;
    margin: 1em;
    color: white;
    font-size: 2em;
    font-family: "Nexa-Bold";
    text-align: right;
}

body header section h1 {
    font-size: 10em;
}

main > section {
    height: 15em;
    width: 100%;
    background-image: url(../images/strandLaatste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*selekteerd alleen de headers in body*/
body > header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
}
/*Header buttons*/
body > header li a {
    display: block;
    color: #00d66c;
    text-align: center;
    padding: 1em 1.1em;
    text-decoration: none;
    font-family: "Nexa-Bold";
    font-weight: bold;
}

body > header li a:hover:not(.active) {
    color: #2800a0;
}

body > header li a.active {
    color: #2800a0;
}

body > main {
    margin-bottom: auto;
}

article {
    color: black;
    padding: 1em;
    opacity: 0.9;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadein 1.5s;
}

@keyframes fadein {
    /* https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}
/*display none voor de show meer button*/
.hidden {
    display: none;
}

.modal-content a,
article footer a:first-child {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    color: aliceblue;
    background-color: #2800a0;
    padding: 0.5em 2em;
    box-shadow: inset 0 -0.1875rem 0.0625rem #120145;
    border: none;
    border-radius: 5em;
    text-decoration: none;
}

article footer a:first-child:hover {
    background-color: #421ABA;
}

article footer i:hover {
    color: #FF4F83;
}
/*searchbox*/
.box {
    margin-left: auto;
}
/* https://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069 */
.search-container {
    margin-top: 0.5em;
    width: 4em;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    transition: width 0.55s ease;
}

.search-container #search {
    width: 1em;
    height: 3em;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 4em;
    transition: width 0.55s ease;
}

.search-container .icon {
    margin-left: 0.5em;
    margin-top: 1em;
    z-index: 1;
    color: #00d66c;
}

.search-container input#search.active {
    background-color: #00d66c;
    width: 20em;
    opacity: .7;
    
}

.search-container.active {
    width: 18.750em;
    
}

.plusButton {
    font-size: 1em;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #ee3569;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: 15em;
}
/*selekteerd alleen de headers in body*/
article footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

article footer i {
    color: #ee3569;
}
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 6.250em;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -6.250em;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -6.250em;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 1em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header, .modal-footer {
    padding:    1em 1em;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 1.250em 1.000em;
    
}


.modal-content hr {
    margin-top: 1.250em;
    margin-bottom: 1.250em;
}

input[type="text"] {
    width: 100%;
}

main section  ul {
    background-color: gainsboro;
    margin-top: 10em;
    padding: 0.625em 0.625em;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    
    justify-content: space-around;
    list-style: none;
    
}

ul.navbar-filters button.control {
    font-weight: bold;
    color: aliceblue;
    background-color: #2800a0;
    padding: 0.5em 2em;
    border: none;
    border-radius: 5em;
}

ul.navbar-filters button.control.active {
    background-color: #00d66c;
    color: black;
}

@media screen and (min-width: 20em) {
    article {
        width: 30em;
        min-height: 12em;
        max-height: 20em;
        margin: 1em;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 50em) {
    ul.navbar-filters {
        justify-content: flex-end;
    }
    ul.navbar-filters button.control {
        margin-left: 0.625em;
        margin-right: 0.625em;
    }
    article {
        width: 20em;
    }
    .modal-content {
        width: 50%;
    }
}

@media screen and (min-width: 68em) {
    article {
        width: 20em;
    }
    .modal-content {
        width: 35%;
    }
}

.myPlaylist {
    display: flex;
    flex-direction: column;
}

.otherPlaylist {
    display: flex;
    flex-direction: column;
}

main.playlist {
    justify-content: space-around;
}

.playlistTitle {
    color: #2800a0;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: "Cabin", sans-serif;
    background-color: white;
    opacity: 0.9;
    border: 1px solid green;
}

.playlistItem {
    display: flex;
    justify-content: space-between;
}

.playlistItem i {
    color: #ee3569;
}

.playlistItem p {
    align-self: center;
}

.playlist article header {
    display: flex;
    justify-content: space-between;
}

.playlist article header i {
    color: #2800a0;
}

.playlist article header i:hover {
    color: red;
}

article:nth-of-type(1) {
    background-image: url(../images/articleimages/handen%20hart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
    
    
}

article:nth-of-type(2) {
    background-image: url(../images/articleimages/opgebroken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(3) {
    background-image: url(../images/articleimages/blind.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(4) {
    background-image: url(../images/articleimages/Moe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(5) {
    background-image: url(../images/articleimages/Verliefd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(6) {
    background-image: url(../images/articleimages/Literally.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(7) {
    background-image: url(../images/articleimages/Kater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(8) {
    background-image: url(../images/articleimages/iphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

article:nth-of-type(9) {
    background-image: url(../images/articleimages/Harry_Mulisch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0%,80%,0.70);
    background-blend-mode: overlay;
}

section {
    background-color: aliceblue;
}

.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 50%;
    /* doe ff 100 op mobiel */
    height: 50px;
    background-color: gray;
    margin-left: 0.938em;
    margin-bottom: 0.938em;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    animation: fadeout 1s;
}

.popup.show {
    display: flex;
    opacity: 1;
    animation: fadein 1s;
}

#moreBtn {
      
    margin-top: 1em;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: aliceblue;
    background-color: #2800a0;
    padding: 0.5em 2em;
    box-shadow: inset 0 -0.1875rem 0.0625rem #120145;
    border: none;
    border-radius: 5em;
    text-decoration: none;


}
    
@media screen and (min-width: 20em) and (max-width: 40em) {
    .popup {
        width: 80%;
    }
}

.color-active {
	background-image: url('../images/Icons/hartIngevuld-01.png');
	background-size: 3em;
	width: 3em;
	height: 3em;
	background-repeat: no-repeat;
	background-position: center;
	border-style: none;
	cursor: pointer;
	position: relative;
	margin-left: auto;
	margin-right: .9em;
	transition: 5s;
}
	


